<div class= "container">
<%= form_for @store do |f| %>
<%= f.label "Store Name:" %> <br>
<%= f.text_field :name %>
<br><br>


<%= f.label "Address:" %> <br>
<%= f.text_field :address %>
<br><br>

<%= f.label "Bio:" %> <br>
<%= f.text_field :bio %>
<br><br>
<center>
<%= f.submit "#{button_label}" %>
</center>

<% end %>

</div>
