<h1>New Store </h1>

<%= form_for @store do |f| %>
<%= f.label "Name:" %> <br>
<%= f.text_field :name %>
<br><br>

<%= f.label "Password:" %> <br>
<%= f.password_field :password %>
<br><br>


<%= f.submit "Create Store Account" %>

<% end %>