
<div class= "container">
<center>
<h3><%= @store.name %></h3>
<h7><%= @store.address %></h7>
</center>
<br>
<h5><%= @store.bio %></h5>
<br>
<br>

<% @store.albums.each do |a|%>
<ul>
<li>
 <h5><%= Artist.find_by(id: a.artist_id).name%>:  <%=a.title %></h5><h6>Format: <%= a.format%></h6
 > 
</li>
</ul>
<% end %>

</div>

