
<div class="container">





<%= form_for @current_user do |f| %>
<% if @current_user.errors.any? %>
  <div id="error_explanation">
    <h2>something is up:</h2>
    <ul>
      <% @current_user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= f.label "username:" %> <br>
<%= f.text_field :username %>
<br><br>

<%= f.label "email:" %> <br>
<%= f.email_field :email %>
<br><br>

<%= f.label "password:" %> <br>
<%= f.password_field :password %>
<br><br>


<%= f.submit "#{button_label}" %>

<% end %>

</div>
