<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>

<%if !!@user.first_name && !!@user.last_name%>
<center>
<div class = "container"><div class = "container"><div class = "container"><div class = "container"><div class = "container">
<h5 class= "teal white-text"><%= @user.first_name.downcase %> <%=@user.last_name.downcase%></h5>
</center>
</div></div></div></div></div>
<%end%>

<div class = "container">
<p class = "right"><b>user name:</b>  <%= @user.username %> <b>email: </b><%= @user.email%></p>
<%if !!@user.image%>
<img class="materialboxed" width="400" src="<%= @user.image%>">
<%end%>
<br>
<%= button_to "edit profile", edit_user_path(@user), :method => "get", class: 'btn btn-small purple white-text'   %>

</div>


