<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>

<%if !!@current_user.first_name && !!@current_user.last_name%>
<center>
<div class = "container"><div class = "container"><div class = "container"><div class = "container"><div class = "container">
<h5 class= "teal white-text"><%= @current_user.first_name.downcase %> <%=@current_user.last_name.downcase%></h5>
</center>
</div></div></div></div></div>
<%end%>

<div class = "container">
<p class = "right"><b>user name:</b>  <%= @current_user.username %> <br> <b>email: </b><%= @current_user.email%></p>
<%if !!@current_user.image%>
<img class="materialboxed" width="300" src="<%= @current_user.image%>">
<%end%>
<br>
<%= button_to "edit profile", edit_user_path(@current_user), :method => "get", class: 'btn btn-small purple white-text'   %>

</div>


