<div class= "container">

<%= form_for [@store, @album] do |f| %>


<h5>Choose Genre</h5>
 <%= f.collection_select :genre_id, Genre.order(:name),:id,:name, {:prompt => "Select Genre"} %>
<br><br>

<h5>Choose Artist</h5>
 <%= f.collection_select :artist_id, Artist.order(:name),:id,:name, {:prompt => "Select Artist"} %>
<br><br>

<h5><%= link_to "Or Add New Artist", new_artist_path %></h5>
<br><br>


<h5> Choose Format </h5>
<%= f.select :format, [['Vinyl', 'Vinyl'], ['CD', 'CD'], ['Cassette Tape', 'Cassette Tape']], {:prompt => "Select Format"} %>

<br>
<br>
<%= f.label "Title:" %> <br>
<%= f.text_field :title %>
<br><br>



<%= f.label "Record Label:" %> <br>
<%= f.text_field :label %>
<br><br>

<%= f.label "Release Date:" %> <br>
<%= f.date_field :release_date %>
<br><br>

<%= f.label "Price:" %> <br>
<%= f.number_field :price %>
<br><br><br>


<%= f.submit "#{button_label}" %>

<% end %>

</div>
