<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script> 

<br>
<%if for_store%>
<center>
<div class= "container">
<div class= "container">
<div class= "container">
<div class= "container">
<h5 class=><%=@store.name%></h5>
<img class="materialboxed" width="400" src="<%= @store.image%>">
</div>
</div>
</div>
</div>
</center>
<br>
<%end%>

<% if for_store %>
<div class= "container">
<% @albums.each do |a|%>
<ul>
<li>
<p><b> <%= @artist.find_by(id: a.artist_id).name%>:  <%=a.title %></b> <i>Format: <%= a.format%></i></p>
<%= button_to "info", album_path(a), :method => "get", class: 'btn btn-small pink white-text'   %> <br>
</li>
</ul>
<% end %>
</div>
<% end %>






<% if !for_store%>
<div class= "container">
<%@stores.each do |s| %>
<center>
<div class= "container">
<div class= "container">
<div class= "container">
<h5 class= "teal white-text"><%=s.name%></h5>
</div>
</div>
</div>
<br>
</center>
<% s.albums.each do |a|%>


<b><p> <%= @artist.find_by(id: a.artist_id).name%>:  <%=a.title %></b> <i>Format: <%= a.format%></i></p>

<%end%>
<%= button_to "visit store", store_path(s), :method => "get", class: 'btn btn-small pink white-text'   %> <br>
<%end%>
</div>
<%end%>




