<%if for_store%>
<center>
<h3> Merch</h3>
</center>
<%end%>

<% if !for_store%>
<div class= "container">
<%@stores.each do |s| %>
<center>
<div class= "container">
<div class= "container">
<div class= "container">
<h4 class= "teal white-text"><%=s.name%></h4>
</div>
</div>
</div>
</center>
<% s.albums.each do |a|%>
<ul>
<li>
<h5> <%= @artist.find_by(id: a.artist_id).name%>:  <%=a.title %> </h5>
<h6>Format: <%= a.format%></h6>
</li>
</ul>
<%end%>
<%= button_to "visit store", store_path(s), :method => "get", class: 'btn btn-small pink white-text'   %> <br>
<%end%>
</div>
<%end%>




<% if for_store %>
<div class= "container">
<% @albums.each do |a|%>
<ul>
<li>
<h5> <%= @artist.find_by(id: a.artist_id).name%>:  <%=a.title %> </h5>
<h6>Format: <%= a.format%></h6>
<%= button_to "info", album_path(a), :method => "get", class: 'btn btn-small pink white-text'   %>
</li>
</ul>
<% end %>

</div>
<% end %>