<center>
<h3><%= Artist.find_by(id: @album.artist_id).name%>:  <%=@album.title %> </h3>
</center>

<div class= "container">

<h6>Format: <%= @album.format%></h6> 
<h6>Genre: <%= Genre.find_by(id: @album.genre_id).name%></h6>
<h6>Release Date: <%= @album.release_date.strftime("%m/%d/%Y")%></h6> 
<h6>Record Label: <%= @album.label%></h6>
<h6>Price: <i> $<%= @album.price%>0 </i> </h6> 

<% if current_store%>
<%= button_to "edit album", edit_album_path(@album), :method => "get", class: 'btn btn-small purple white-text'   %>
<%end%>

<%if current_user%>
<%= button_to "add to cart", store_album_add_path(@album.store, @album), :method => "patch", class: 'btn btn-small purple white-text'   %>
<%end%>
