<style>
      body {
        background-image: url("https://clipartix.com/wp-content/uploads/2016/12/Palm-sunday-leaf-clipart-kid.png" 
);
>;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom right;
        background-size: small;
      }
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>RecordApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

    <nav class= "white">
    
    <div class="container">
    <div class="nav-wrapper">
      <div>
     
      <h5 class = "top right orange"><li><%= link_to "record bae", "#" %></li></h5>
   
      </div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <%if !store_logged_in? && !user_logged_in?%>
        <li><h5 class= "light-blue"><%= link_to "new user", "/users/new" %></h5></li>
        <li><h5 class= "red"><%= link_to "user log in", login_path %></h5></li>
        <li><h5 class= "yellow"><%= link_to "new store", new_store_path %></h5></li>
        <li><h5 class= "green"><%= link_to "store log in", login_path %></h5></li>
        <%end%>
        <%if user_logged_in?%>
        <li><h5 class= "green"><%= link_to "log out", logout_path %></h5></li>
        <li><h5 class= "amber"><%= link_to "edit profile", "#" %></h5></li>
        <li><h5 class= "red"><%= link_to "all stores", "#" %></h5></li>
        <li><h5 class= "light-blue"><%= link_to "all albums", "#" %></h5></li>
        <%end%>
        
        <%if store_logged_in? && !user_logged_in?%>
        <li><h5 class= "green"><%= link_to "log out", logout_path %></h5></li>
        <li><h5 class= "red"><%= link_to "add album", new_store_album_path(current_store) %></h5></li>
        <li><h5 class= "light-blue"><%= link_to "your store", store_albums_path(current_store) %></h5></li>
        <%end%>
      </ul>
    </div>
    </div>

  </nav>


  <body class= "white">
    <%= yield %>
  </body>
</html>
