<!DOCTYPE html>
<html>
  <head>
    <title>RecordApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

    <nav class= "white">
    
    <div class="container">
    <div class="nav-wrapper">
      <div class="right hide-on-med-and-down"><h4 class="orange"><%= link_to "Hello World", "#" %></h4></div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><h4 class= "green"><%= link_to "New Store", new_store_path %></h4></li>
        <li><h4 class= "red"><%= link_to "Log In", login_path %></h4></li>
        <li><h4 class= "blue"><%= link_to "Log Out", logout_path %></h4></li>
      </ul>
    </div>
    </div>

  </nav>


  <body>
    <%= yield %>
  </body>
</html>
