<style>
      body {
        background-image: url("https://clipartix.com/wp-content/uploads/2016/12/Palm-sunday-leaf-clipart-kid.png" 
);
>;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom right;
        background-size: small;
      }
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>RecordApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

    <nav class= "white">
    
    <div class="container">
    <div class="nav-wrapper">
      <div class="right hide-on-med-and-down"><h4 class="orange"><%= link_to "record bae", "#" %></h4></div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <%if !store_logged_in?%>
        <li><h4 class= "light-blue"><%= link_to "new user", "/users/new" %></h4></li>
        <li><h4 class= "red"><%= link_to "user log in", login_path %></h4></li>
        <li><h4 class= "yellow"><%= link_to "new store", new_store_path %></h4></li>
        <li><h4 class= "green"><%= link_to "store log in", login_path %></h4></li>
        <%end%>
        <%if store_logged_in?%>
        <li><h4 class= "green"><%= link_to "log out", logout_path %></h4></li>
        <li><h4 class= "red"><%= link_to "add album", new_store_album_path(current_store) %></h4></li>
        <li><h4 class= "light-blue"><%= link_to "your store", store_albums_path(current_store) %></h4></li>
        <%end%>
      </ul>
    </div>
    </div>

  </nav>


  <body class= "white">
    <%= yield %>
  </body>
</html>
